body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  padding-top: 55px; /* Khoảng cách cho header */
}
header {
  width: 100vw; /* Full màn hình ngang */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #132a3a;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center; /* Căn giữa header-container trong header */
}
.header-container{
  width: 70%; /* Chiếm 70% chiều rộng của header */
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Đẩy logo và menu về hai phía */
  padding: 0 20px; /* Tạo khoảng cách tránh logo và menu sát viền */
}
.header-logo {
  flex: 0;
  /* margin-left: 50px; Giữ khoảng cách giữa logo và cạnh trái */
}
.header-logo a img {
  width: 80px;
  height: auto; 
  max-height: 55px; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tạo bóng cho logo để nổi bật */
}
.header-menu {
  display: flex;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px; /* Khoảng cách giữa các liên kết */
}


nav ul li a {
  padding: auto;
  color: white; /* Màu chữ trắng */
  text-decoration: none; /* Xóa gạch chân */
  font-size: 20px; /* Kích thước chữ */
  font-weight: 600;
}

nav ul li a:hover {
  color: red; /* Màu chữ khi hover */
}

@media (max-width: 768px) {
  .header-container {
    width: 100%; /* Chiếm toàn bộ chiều rộng màn hình */
    padding: 0 10px; /* Giảm padding để tối ưu hiển thị */
  }

  .header-logo {
    margin-left: 0; /* Bỏ khoảng cách bên trái */
  }

  nav {
    margin-right: 20px;
    flex: 1; /* Cho phép menu chiếm không gian còn lại */
    display: flex;
    justify-content: flex-end; /* Căn menu về bên phải */
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav ul li a {
    font-size: 15px; /* Kích thước chữ */
    font-weight: 600;
  }
  nav ul li {
    margin-left: 10px; /* Khoảng cách giữa các liên kết */
  }
  
}
/*banner */
.banner {
  background-image: url('../public/assets/image/banner.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700; /* In đậm văn bản với độ đậm 700 */
  text-align: center;
}
.banner-content {
  padding: 20px;
  border-radius: 10px;
}

.banner h1 {
  margin: 0;
  font-size: 2.5em;
  color: #fff;
}

.banner p {
  color: #fff;
  margin: 10px 0 0;
  font-size: 1.2em;
}


/* Footer */
footer {
  background-color: #132a3a; 
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none; /* Xóa gạch chân */
  color: #fff;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}


.container {
  display: flex;
  justify-content: space-between; /* Giãn đều khoảng cách giữa các phần */
  align-items: flex-start; /* Căn trên theo chiều dọc */
}
/* Danh sách các ngôi chùa */

.Home h2 {
  margin-top: 50px;
  text-align: center;
  color: #333;
}
.chua-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto; /* Tự động căn giữa */
  max-width: 1100px; /* Chiều rộng tối đa */
}
.chua-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.658);
  margin: 10px;
  padding: 15px;
  width: 300px;
  height: 400px;
  text-align: center;
  transition: transform 0.2s;
  box-sizing: border-box; /* Bao gồm padding và border trong kích thước tổng thể */
}

.chua-card:hover {
  transform: scale(1.05);
}
.chua-card a{
  text-decoration: none; /* Xóa gạch chân */
  padding: 10px;
}
.chua-card a:hover{
  color: blue;

}
.chua-card img {
  height: 60%;
  max-width: 100%;
  border-radius: 5px;
}


.chua-card h2 {
  font-size: 20px;
  margin: 10px 0;
}

/* Mô tả ngôi chùa */
.chua-card p {
  display: -webkit-box;           /* Thiết lập hộp linh hoạt cần thiết cho -webkit-line-clamp */
  -webkit-box-orient: vertical;   /* Thiết lập hướng dọc cho các dòng */
  overflow: hidden;               /* Ẩn phần nội dung tràn ra ngoài */
  text-overflow: ellipsis;        /* Hiển thị dấu chấm lửng cho phần bị cắt */
  -webkit-line-clamp: 3;          /* Giới hạn hiển thị tối đa 3 dòng */
  font-size: 14px;                /* Cỡ chữ của văn bản */
  color: #555;                    /* Màu xám cho văn bản */
}

/*contact */
.contact-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto; /* Giữa trang */
}

.contact-container h2 {
  margin-top: 50px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.contact-info {
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin: 5px 0;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/*about */
.About {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.About h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.About p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}
.btn-about{
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
/*event*/
.event-h2{
  margin-top: 50px;
  text-align: center;
  color: #333;
}
.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
  max-width: 1100px;
}

.event-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.658);
  margin: 10px;
  padding: 15px;
  width: 300px;
  height: 500px;
  text-align: center;
  transition: transform 0.2s;
  box-sizing: border-box;

}

.event-card:hover {
  transform: scale(1.05);
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.event-card h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.event-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    font-size: 14px;
}
.event-card a{
  text-decoration: none; /* Xóa gạch chân */
  padding: 10px;
}

/* detail*/
.chua-detail {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.chua-detail h1 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

.section {
  margin-bottom: 20px;
}


.section h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}


.section p {
  text-align: justify; 
  font-size: 16px;
  color: black;
  line-height: 1.6;
  margin-bottom: 5px;
}

.section-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


p.image-caption {
  color: black;
  margin-top: 5px;
  text-align: center;
}


/* Container chính */
.admin-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề */
.admin-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Bảng danh sách chùa */
.admin-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề cột */
.admin-container table th {
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: left;
}

/* Dòng dữ liệu */
.admin-container table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

/* Ảnh trong bảng */
.admin-container table img {
  border-radius: 8px;
}

/* Khoảng cách giữa các cột */
.admin-container table th,
.admin-container table td {
  padding: 15px 20px;
}

/* Nút sửa và xóa */
.admin-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-button:hover {
  background-color: #0056b3;
}

/* Nút xóa màu đỏ */
.admin-button:nth-child(2) {
  background-color: #dc3545;
}

.admin-button:nth-child(2):hover {
  background-color: #b02a37;
}
/* App.css */
.edit-chua-admin {
  margin: 20px;
}

.edit-chua-admin h2 {
  color: #333;
}

.edit-chua-admin input,
.edit-chua-admin textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-chua-admin img {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
}
/* Tạo một container cho form */
.login-container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Tiêu đề trang đăng nhập */
.login-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Hiển thị lỗi với màu đỏ */
.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

/* Các trường nhập liệu */
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Nút Đăng nhập */
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}
.logout{
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  float: right;
  margin-bottom: 10px;
}


/* Định dạng chung */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-logo img {
  height: 50px;
}

.header-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.header-menu ul li {
  display: inline;
}



/* Nút menu mobile */
.mobile-menu-toggle {
  display: none;
  margin-right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  width: 10%;
}

/* Dưới 800px */
@media (max-width: 800px) {
  .header-menu {
      width: 30%;
      height: 100%;
      display: none;
      position: absolute;
      top: 60px;
      right: 20px;
      background: #132a3a;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      padding: 10px 20px;
      border-radius: 5px;
  }

  .header-menu.open {
      display: block;
  }

  .header-menu ul {
      flex-direction: column;
      gap: 10px;
  }

  .mobile-menu-toggle {
      display: block;
  }
}
